/* Para formatar as margins e paddings do site, o * é um seletor que modifica tudo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* as paletas de cores que utilizaremos no site */
:root {
    --background-color-display-numer: rgb(184, 248, 184);
    --background-color-main: gray;
    --background-color-main: rgb(191, 186, 186);
    --background-color-main: red;
    --background-color-main: rgb(192, 8, 8, 0.712);
    --background-color-main: white;
    --background-color-main: rgb(97, 209, 97);
}

/* Alteração para formar o menu do nosso projeto */
main {
    position: relative;
    background-color: gray;
    height: 540px;
    max-width: 920px;
    min-width: 500px;
    margin: 1vh auto;
}

/* modificação dos botões de resgatar senha */
#botao-menu {
    padding: 5px 10px 5px 10px;
}
#botao-senha {
    display: block;
    width: 90%;
    border: 0px;
    margin: 5px 5px 10px 5px;
    background-color: white;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
}

/* modificação  da senha*/
#password-number {
    background-color: rgb(184, 248, 184);
    width: 260px;
    font-size: 40px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}

/* modificação do titulo da senha */
.password-title {
    font-weight: 700;
}

/* modificação do menu que pegamos a senha */
.get-a-password {
    background-color: rgb(97, 209, 97);
    width: 200px;
    padding-top: 10px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

/* aqui onde passará as senhas que serão chamadas */
.display-password {
    display: block;
    position: absolute;
    height: 230px;
    width: 600px;
    top: 5%;
    left: 30%;
    background-color: white;
    text-align: center;
}
.grupo-guiche {
    display: flex;
    flex-direction: row;
    gap: 90px;
    position: absolute;
    bottom: 20%;
    left: 30%;
}

.guiche {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(191, 186, 186);
    width: 200px;
    text-align: center;
    padding: 10px;
}
.button {
    background-color: red;
    color: #fff;
    padding: 10px 9px;
    cursor: pointer;
    border-radius: 8px;
    border: unset;
}
.button:hover {
    background-color: rgba(192, 8, 8, 0.712);
}

.fila {
    background-color: rgb(97, 209, 97);
    width: 150px;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 54%;
    left: 8%;
}

.senhas-geradas {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.item-fila {
    background-color: #fff;
    padding: 5px 9px;
    border-radius: 8px;
    border: unset;
}
